<div class="container text-center">
  <h1 class="display-4">All Your Bookings</h1>

</div>


<div class="container-i">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-4 mb-4 btn">
        <a class="link" href="/bookings/<%= booking.id %>">
          <div class="card shadow rounded-i">
            <%= image_tag booking.instrument.image_url, class: "card-img-top" %>

            <div class="card-body">
              <p class="d-inline location-text">From:</p>
              <p class="d-inline"><%= booking.start %></p>
              <br>


              <div class="d-inline location-text">Since:</div>
              <div class="d-inline"><%= booking.end %></div>
            </div>

             <%= link_to booking_path(booking),
                      method: :delete,
                      data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this booking?' },
                      class: 'btn btn-delete' do %>
            <i class="fa-regular fa-trash-can"></i> Delete
          <% end %>

            <div class="card-footer justify-content-between">
              <div class="d-flex justify-content-between align-items-center">
                <h2 class="card-title font-weight-bold mb-0"><%= booking.instrument.name %></h2>
                <p class="btn-prueba mb-0 btn"><%= booking.instrument.price %> £/hour</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
