<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "LogoFinal.png", height: 40, width: 90, style: "object-fit: cover;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
<li class="nav-item nav-link-inline">
  <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
</li>

<li class="nav-item nav-link-inline">
  <%= link_to "List instruments", new_instrument_path, class: "dropdown-item" %>
</li>
          <li class="nav-item">
            <%= link_to "", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown pt-2">
         <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="navbar-toggler-icon"></span>
</a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                 <%= link_to "Instrument", instruments_path, class: "dropdown-item" %>


              <%# <%= link_to "Rent", "#",destroy_user_session_path class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
    <div class="z1"></div>
