<div class="cards">
<% @instruments.each do |instrument| %>
<div class="card-trip">
  <%= image_tag instrument.image_url %>
  <div class="card-trip-infos">
    <div>
      <h2> <%=instrument.name %></h2>
      <p><%= instrument.brand%></p>
      <p><%=instrument.location%>
    </div>
    <h2 class="card-trip-pricing"><%= instrument.price%> £/hour</h2>
    <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered"> %>
  </div>
</div>
<%end%>
</div>
