
<div class="container-i d-flex">
  <div class="row">
    <% @instruments.each do |instrument| %>
      <div class="col-md-4 mb-4 btn">
        <a class="link" href="/instruments/<%= instrument.id %>">
          <div class="card shadow rounded-i">
            <%= image_tag instrument.image_url, class: "card-img-top" %>
            <div class="heart-icon">
              <i class="far fa-heart"></i>
            </div>

            <div class="card-body">
              <p class="d-inline location-text">Brand:</p>
              <p class="d-inline"><%= instrument.brand %></p>
              <br>
              <div class="d-inline location-text">Location:</div>
              <div class="d-inline"><%= instrument.location %></div>
            </div>

            <div class="card-footer justify-content-between">
              <div class="d-flex justify-content-between align-items-center">
                <h2 class="card-title font-weight-bold mb-0"><%= instrument.name %></h2>
                <p class="btn-prueba mb-0 btn"><%= instrument.price %> £/hour</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <div class="sticky-md-top" style="width: 100%; height: 600px; position: sticky !important;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
